<section class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading">L'équipe de choc (ou pas)</h1>
    <p>Salut, nous c'est Jonathan et Nora. On est deux petits developpeurs en herbe. Join our band !</p>
  </div>
</section>
<section class="page-team">
<div class="container-fluid bg-grey text-center">
  <div class="row">
    <div class="col-md-4">
    <span class="glyphicon glyphicon-globe logo center"></span>
    </div>
    <div class="col-md-4">
      <h2>Nos Valeurs</h2>
      <h4> Nos valeurs...Ummm...Tout le monde a le droit de connaitre les rumeurs qui courent.</h4>
    </div>
    <div class="col-md-4">
    <h2>Notre mission:</h2>
    <h4>APOLLO 13</h4> 
    </div>
  </div>
</div>
</section>
<section class="page-team-2">
<div class="container-fluid text-center">
  <h2>Notre site-web sert à quoi?</h2>
  <h4>Pleins de qualités : </h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off sizeup"></span>
      <h4>DU POUVOIR</h4>
      <p>Le pouvoir de switch off votre cerveau..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart sizeup"></span>
      <h4>DE L'AMOUR</h4>
      <p>ou pas..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock sizeup"></span>
      <h4>DE LA SECURITE</h4>
      <p>Des contenues secures..</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf sizeup"></span>
      <h4>GREEN</h4>
      <p>Un "réseau social" green et rapide..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate sizeup"></span>
      <h4>EUH...</h4>
      <p>Un réseau social qui répend vos gossips aussi rapidement que la propagation de la grippe..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench sizeup"></span>
      <h4>HARD WORK</h4>
      <p>Un site qu'on a galéré à faire, alors enjooooy, stp.</p>
    </div>
  </div>
</div>
</section>