<section class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading">Créer un commentaire</h1>
  </div>
</section>
<%= form_tag url_for(action: 'create'), method: "post" do %>
<%= label_tag 'Mon super commentaire, méga pertinent :' %><br/> 
<%= text_area_tag 'content', @comment.content %>
<br /> <br />
<%= submit_tag "Envoyer mon commentaire" %> 
<% end %>

