<section class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading">Afficher les commentaires</h1>
  </div>
</section>
<h1>Comments</h1>
<%= @gossip.title %>
<p> commentaires : </p>
<%= @comment.content %>
