<section class="jumbotron text-center">
 <div class="container">
 <h1 class= "display-3 jumbotron-heading">Contactez-nous !</h1>
 </div>
 </section>

<div class="container-fluid text-center bg-grey div-contact">
  <h2>Vous avez besoin d'un service ?</h2><br>
  <h4>Vous pouvez nous contacter par téléphone.</h4>
  <div class="row text-center">
    <div class="col-sm-4">
        <p class="contact-text"><span class="glyphicon glyphicon-phone"></span> Pour parler à Jonathan, appelez le : 07 69 69 59 68</p>
    </div>
    <div class="col-sm-4">
        <p class="contact-text"><span class="glyphicon glyphicon-phone"></span> Pour parler à Nora, appelez le : 06 49 85 43 29</p>
    </div>
    <div class="col-sm-4">
      <p class="contact-text">Contactez-nous et on vous contactera, peut-être.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Strasbourg, FRANCE</p>
      <p><span class="glyphicon glyphicon-envelope"></span> notreemail@lol.com</p>
    </div>
  </div>
</div>

