<body>
  <h1>Contactez-nous</h1>
  <p> Vous avez besoin d'un service ? Vous pouvez nous contacter par téléphone. </p>
  <p>Pour parler à Jonathan, appelez le : 07 69 69 59 68</p>
  <p>Pour parler à Nora, appelez le : 06 49 85 43 29</p>
</body>