<h1>Cities#show</h1>

<section class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading"> <%=@city.name%> </h1>
    </div>
</section>
<section>
  <div class="container">
  <% @gossips.each_with_index do |gossip, i| %>
      <%= gossip.title %>
      <%= gossip.user.first_name %>
      <%= link_to "Voir le gossip", gossip_path(gossip.id), :class => "btn btn-primary" %>
<% end %>
  </div>
</section>
