/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{ 
 background-color: #f8f9fa;
 font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

h1{
  text-align: center;
  padding:10px;
}

p.team {
  text-align: center
}

#navbarText  a{
text-decoration: none;
color: grey;
}


#navbarText  a:hover{
  color: gold;
}

.logo {
  font-size: 200px;
}

.sizeup{
  font-size: 50px;
}
.navbar{
  margin-bottom: 0 !important;
}

.navbar ul{
  margin-right: 15px !important;
  margin-bottom: 0 !important;
  margin-left: 15px;
  margin-top: 15px;
}

.page-team{
margin: 20px;
padding: 40px
  
}
.page-team-2{
  background-color: cadetblue;
}
.page-team-2 div{
  padding: 20px;
}

.footer div{
  padding: 30px;  
}
.footer {
  position:relative; bottom:0; left:0; height:200px; 
  float:none; clear:both;
  width: 100%;
  background-color: #8080808c;
 
}

.div-contact{
  padding: 40px;
}

.connexion{
  padding:50px;
}

.boite-welcome{
  margin: 50px;
}

.potin-box{
  padding:10px;
}
.profile-text{
  font-size:18px;
}
.contact-text{
  font-size: 16px;
}